<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="officeInstaller" type="OfficeInstaller.Configuration.OfficeInstallerConfiguration, OfficeInstaller"/>
  </configSections>
  <officeInstaller sourcePath="F:\ISO\Software\Office 2016\Test" licenseMode="Volume" edition="x64" activationServer="">
    <products>
      <add id="ProPlus" name="Office 2016 专业增强版" checked="true">
        <applications>
          <add id="Word" name="Word" checked="true"/>
          <add id="Excel" name="Excel" checked="true"/>
          <add id="PowerPoint" name="PowerPoint" checked="true"/>
          <add id="Access" name="Access"/>
          <add id="Publisher" name="Publisher"/>
          <add id="Groove" name="OneDrive for Business (Groove)"/>
          <add id="Lync" name="Skype for Business (Lync)"/>
          <add id="OneNote" name="OneNote"/>
          <add id="Outlook" name="Outlook"/>
        </applications>
      </add>
      <add id="VisioPro" name="Visio 2016 专业版" checked="true"/>
      <add id="ProjectPro" name="Project 2016 专业版"/>
      <add id="O365ProPlus" name="Office 365 专业增强版" licenseMode="Retail">
        <applications>
          <add id="Word" name="Word" checked="true"/>
          <add id="Excel" name="Excel" checked="true"/>
          <add id="PowerPoint" name="PowerPoint" checked="true"/>
          <add id="Access" name="Access"/>
          <add id="Publisher" name="Publisher"/>
          <add id="Groove" name="OneDrive for Business (Groove)"/>
          <add id="Lync" name="Skype for Business (Lync)"/>
          <add id="OneNote" name="OneNote"/>
          <add id="Outlook" name="Outlook"/>
        </applications>
      </add>
      <add id="O365Business" name="Office 365 商业版" licenseMode="Retail" hide="true">
        <applications>
          <add id="Word" name="Word" checked="true"/>
          <add id="Excel" name="Excel" checked="true"/>
          <add id="PowerPoint" name="PowerPoint" checked="true"/>
          <add id="Publisher" name="Publisher"/>
          <add id="Groove" name="OneDrive for Business (Groove)"/>
          <add id="OneNote" name="OneNote"/>
          <add id="Outlook" name="Outlook"/>
        </applications>
      </add>
      <add id="O365SmallBusPrem" name="Office 365 商业增强版" licenseMode="Retail" hide="true">
        <applications>
          <add id="Word" name="Word" checked="true"/>
          <add id="Excel" name="Excel" checked="true"/>
          <add id="PowerPoint" name="PowerPoint" checked="true"/>
          <add id="Access" name="Access"/>
          <add id="Publisher" name="Publisher"/>
          <add id="Groove" name="OneDrive for Business (Groove)"/>
          <add id="Lync" name="Skype for Business (Lync)"/>
          <add id="OneNote" name="OneNote"/>
          <add id="Outlook" name="Outlook"/>
        </applications>
      </add>
      <add id="Word" name="Word 2016" hide="true"/>
      <add id="Excel" name="Excel 2016" hide="true"/>
      <add id="PowerPoint" name="PowerPoint 2016" hide="true"/>
      <add id="Access" name="Access 2016" hide="true"/>
      <add id="Publisher" name="Publisher 2016" hide="true"/>
      <add id="Groove" name="Groove 2016" hide="true"/>
      <add id="Lync" name="Lync 2016" hide="true"/>
      <add id="OneNote" name="OneNote 2016" hide="true"/>
      <add id="Outlook" name="Outlook 2016" hide="true"/>
      <add id="VisioStd" name="Visio 2016 标准版" hide="true"/>
      <add id="ProjectStd" name="Project 2016 标准版" hide="true"/>
    </products>
    <languages default="zh-CN">
      <add id="zh-CN" name="简体中文"/>
      <add id="zh-TW" name="繁体中文"/>
      <add id="en-US" name="英文"/>
    </languages>
  </officeInstaller>
</configuration>